<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <title>Change password</title>
    <style>
        body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:6em;
        }

        form {
        margin-left: 20%;
        margin-right: 20%;
        }

        input {
        display: block;
        margin: 1em;
        }

        #salir{
        display: left;
        margin-left:3em;
        }


    </style>
</head>
<body>
<nav class="table table-hover">
    <a class="btn btn-danger btn-lg right" id="salir" onclick="window.location.href='/'">Logout</a>
</nav>

<div th:unless="${param.error == null}" class="alert alert-danger">
    <p>The introduced data was not correct.</p>
</div>
<div th:unless="${param.success == null}" class="alert alert-success">
    <p>Password changed.</p>
</div>

<form action="#" th:action="@{/changePassword}" th:object="${userChangePassword}" method="post">
    <input id="id_usuario" class="form-control" type="text" placeholder="Email" th:field="*{login}"/>
    <input type="password" class="form-control" placeholder="Old password" th:field="*{oldPassword}"/>
    <input type="password" class="form-control" placeholder="New password" th:field="*{newPassword}"/>

    <input type="submit" class="btn btn-primary form-control" value="Change"/>
</form>

</body>
</html>


