<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <title>Cambiar contraseña</title>
    <style>
        body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:6em;
        }

        form {
        margin-left: 20%;
        margin-right: 20%;
        }

        input {
        display: block;
        margin: 1em;
        }

        #perfil{
            float: left;
            margin-left:3em;
        }

        #salir{
            float: right;
            margin-right:3em;
        }
    </style>
    <script>

    </script>
</head>
<body>
<nav class="table table-hover">

    <a class="btn btn-primary btn-lg" id="perfil" onclick="window.location.href='main.html'" >Ver mi perfil </a>
    <a class="btn btn-danger btn-lg right" id="salir" onclick="window.location.href='home.html'">Salir</a>
</nav>
<h1>Cambiar contraseña</h1>

<form id="passsword">

    <input id="old_password" class="form-control" placeholder="Contraseña actual">
    <input id="new_password1" class="form-control" placeholder="Nueva contraseña">
    <input id="new_password2" class="form-control" placeholder="Repita la nueva contraseña">

    <input type="submit" class="btn btn-primary form-control" value="Cambiar">
</form>


</body>
</html>