dist: trusty
sudo: required
addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

language: java
jdk:
- oraclejdk8

notifications:
  slack: arquisofti2b:5f14wMgpnF6luTNIoBZopzFq#travis
  email: false

services:
  - mysql

before_script:
  - sh -c "mysql -u root -proot -e 'create database IF NOT EXISTS voters;'"
