<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title>Change password</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Update password</h1>

    <div th:unless="${error == null}" class="alert alert-danger">
        <p>The introduced data was not correct.</p>
    </div>
    <div th:unless="${success == null}" class="alert alert-success">
        <p>Password changed.</p>
    </div>

    <form action="#" th:action="@{/changePassword}" th:object="${voter}" method="post">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Email" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Old password" th:field="*{password}"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New password" th:field="*{newPassword}"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary form-control" value="Change"/>
        </div>
    </form>
</div>

</body>
</html>


